/* Add smooth transitions for theme changes */
html.transitioning * {
  transition-duration: 100ms;
  transition-property: background-color, color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: ease-in-out;
}

/* SVG specific styling */
img[src$=".svg"] {
  aspect-ratio: 1/1;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}