---
const { name, svg } = Astro.props
---

<div class="group [perspective:1000px] m-auto w-11/12 h-[85%]">
    <div 
        class="h-full w-full transition-all duration-700 
               relative preserve-3d
               group-hover:[transform:rotateX(180deg)]
               pl-[10px] place-content-center
               bg-[rgba(223,135,88,0.11)]
               hover:border-l-slate-400
               border border-[rgba(234,90,12,0.651)]
               border-l-[10px] border-l-[rgb(234,88,12)]
               rounded-lg"
    >
        {/* Front side */}
        <div class="absolute flex items-center justify-center w-full h-full inset-0 p-4 backface-hidden">
            {svg ? (
                <img src={svg.src || svg} alt={`Icon for ${name}`} />
            ) : (
                <p class="text-red-500">Image not found</p>
            )}
        </div>
        
        {/* Back side */}
        <div class="absolute flex items-center justify-center w-full h-full inset-0 p-4 backface-hidden [transform:rotateX(180deg)]">
            <slot />
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // defined in MainPage.astro
        const techStack: HTMLElement|null = document.getElementById('techstack')
        if (techStack) {
            setTimeout(() => {
                techStack.className = "h-2/3 text-xl lg:text-4xl \
                grid grid-cols-1 gap-4 \
                md:grid-rows-2 md:grid-cols-2 \
                items-center justify-center \
                transform translate-y-0 opacity-100 transition-all \
                duration-1500 linear"
            }, 1000)
        } else {
            console.error(`Tech Stack not found. Got ${techStack} instead`)
        }
    })
</script>