---
const { storedCsrfToken } = Astro.props
const STYLE_CLASS = "w-full bg-transparent p-2 border border-blue-700 dark:border-customBlue rounded-md focus:outline-none focus:ring-2 focus:ring-customBlue";
---
<div class="flex flex-col w-full min-h-screen px-4 py-8 items-center justify-start relative">
    <div
        id="email-alert"
        class="fixed top-0
                transform -translate-y-full transition-transform duration-300 ease-in-out
                p-4 rounded-lg shadow-lg z-50 font-bold text-xl"
        role="alert"
    >
    </div>
    
    <form 
        id="contact-form" 
        class="flex flex-col w-full max-w-lg p-4 md:p-8 space-y-4
                text-base md:text-xl border border-blue-700 dark:border-customBlue border-l-[10px] 
                rounded-lg font-unifontex"
    >
        <input type="hidden" name="csrfToken" value={storedCsrfToken} />

        <!-- animated form title -->
        <div class="relative">
            <div id="header-animation"
                    class="pb-2 text-lg md:text-2xl font-unifontex opacity-0 translate-y-full"
            >
                What can I do for you?
            </div>
            <div 
                id="line-animation" 
                class="h-1 scale-x-0 border border-1 rounded-md
                    border-black bg-black
                    dark:border-white dark:bg-white"
            >
            </div>
        </div>
        
        <div class="space-y-2 pt-10">
            <label for="name" class="block">Name</label>
            <input 
                class={STYLE_CLASS} 
                id="name" 
                name="name" 
                type="text" 
                required 
                maxlength="100"
                autocomplete="off"
            />
        </div>
        
        <div class="space-y-2">
            <label for="email" class="block">Email</label>
            <input 
                class={STYLE_CLASS} 
                id="email" 
                name="email" 
                type="email" 
                required
                maxlength="254"
                autocomplete="off"
            />
        </div>
        
        <div class="space-y-2">
            <label for="message" class="block">Message</label>
            <textarea 
                class={`${STYLE_CLASS} min-h-[100px] md:min-h-[150px]`}
                id="message" 
                name="message" 
                placeholder="Talk to me!"
                required
                maxlength="1000"
                autocomplete="off"
            ></textarea>
        </div>
        
        <button
            id="submit"
            class="bg-blue-700 hover:bg-black 
            dark:bg-customBlue dark:hover:bg-white
            text-white dark:text-black w-1/4
            rounded-lg p-2 transition-colors mt-4 scale" 
            type="submit"
        >
            Send
        </button>
    </form>
</div>

<script>
    // all this script does is animate the form header
    const headerAnimation = document.getElementById("header-animation");
    const lineAnimation = document.getElementById("line-animation");

    // Use setTimeout for both animations to ensure they run after the page loads
    setTimeout(() => {
        if (lineAnimation) {
            lineAnimation.classList.add('transform', 'transition-transform', 'ease-in-out', 'duration-300', 'scale-x-100')
        };
    }, 200);
        
    setTimeout(() => {
        if (headerAnimation) {
            headerAnimation.classList.replace('translate-y-full', 'translate-y-0');
            headerAnimation.classList.add('transform', 'opacity-100', 'transition', 'ease-in-out', 'duration-300');
        }
    }, 300);
</script>

<style>
    label {
        font-size: medium;
    }
</style>