---
import Header from "./Header.astro"
import Card from "./Card.astro"

import automation from "../assets/automation.svg"
import github from "../assets/github.svg"
import python from "../assets/python.svg"
import web from "../assets/web.svg"

---
<div class="h-full">
	<section id="hero" class="h-1/3 w-full">
		<Header/>
	</section>
	<section id="techstack" class="h-2/3 grid grid-cols-1 md:grid-cols-2
							w-full text-2xl lg:text-4xl opacity-0 gap-4 items-center 
							justify-center translate-y-full">
		<Card name="web" svg={web}>
			<p>This site was built with <a target="_blank" class="text-purple-600" href='https://astro.build'>Astro</a></p>
		</Card>
		<Card name="python" svg={python}>
			<p>I'm normally a <a target="_blank" class="text-yellow-400" href='https://www.python.org'>python</a> dev</p>
		</Card>
		<Card name="github" svg={github}>
			<p>This is my <a target="_blank" class="text-orange-600" href='https://www.github.com/siberian-devsky'>GitHub</a> page</p>
		</Card>
		<Card name="automation" svg={automation}>
			<p>To be added...manually</p>
		</Card>
	</section>
</div>