---
const menuItems = [
  { href: '/', text: 'home' },
  { href: '/about', text: 'about' },
  { href: '/contact', text: 'contact' }
];
---


<!-- menu button -->
<button
  id="menuBtn"
  class="rounded-md border border-blue-500 text-blue-500
          dark:border-customBlue dark:text-customBlue
          hover:bg-customBlue/20 transition-colors duration-200"
  aria-label="Toggle Menu"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-10 w-10"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"
    />
  </svg>
</button>

<!-- slide down menu -->
<nav
  id="menu"
  class="fixed top-0 right-0 h-full w-48 bg-zinc-900/80 dark:bg-zinc-900/40 
      transform -translate-y-full transition-transform duration-300 ease-in-out backdrop-blur-sm"
  >
  <div class="p-6 flex flex-col gap-6">
      <div class="flex justify-between items-center">
        <!-- close button -->
        <button
        id="closeMenu"
        class="p-2 text-blue-500 dark:text-customBlue hover:bg-customBlue/10 rounded-md transition-colors duration-200"
        aria-label="Close Menu"
        >
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
        <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
        />
      </svg>


      </button>
    </div>

    <div class="flex flex-col gap-4">
      {menuItems.map(item => (
          <a
              href={item.href}
              class="text-blue-500 dark:text-customBlue hover:text-white dark:hover:text-white 
                  transition-colors duration-200 text-2xl font-unifontex text-right"
          > 
              {item.text}
        </a>
      ))}
    </div>
  </div>
</nav>

<script>
  const menuBtn = document.getElementById('menuBtn');
  const closeMenu = document.getElementById('closeMenu');
  const menu = document.getElementById('menu');

  function toggleMenu() {
    menu?.classList.toggle('-translate-y-full');
    document.body.classList.toggle('overflow-hidden');
  }

  menuBtn?.addEventListener('click', toggleMenu);
  closeMenu?.addEventListener('click', toggleMenu);

  // Close menu when clicking outside
  document.addEventListener('click', (e) => {
    const target = e.target as HTMLElement;
    if (!menu?.contains(target)
        && !menuBtn?.contains(target)
        && !menu?.classList.contains('-translate-y-full')
    ) {
        console.log(target)
        console.log(menu)
        toggleMenu();
    }
  });
</script>