---
---

<button id="menu-button" class="opacity-0 border-2 border-orange-600 rounded-md fixed w-24 h-12 text-lg right-11 top-10">MENU</button>
<div id="menu-container" class="opacity-0 invisible z-50 h-1/3 fixed w-24 rounded-md right-11 top-24 bg-[rgba(0,0,0,0.25)]">
    <div id="menu-content" class="flex flex-col w-full h-full items-center text-2xl">
        <div class="flex grow-0 border-orange-600 hover:border-x justify-center w-full">
            <a href="/">home</a>
        </div>
        <div class="flex grow-0 border-orange-600 hover:border-x justify-center w-full">
            <a href="/about">about</a>
        </div>
    </div>
</div>

<script>
    const menuButton: HTMLElement | null = document.getElementById("menu-button");
    const menuContainer: HTMLElement | null = document.getElementById("menu-container");

    // Initialize menu state from sessionStorage
    const initializeMenuState = () => {
        const menuIsDisplayed = window.sessionStorage.getItem("menuIsDisplayed") === "true";
        if (menuContainer) {
            if (menuIsDisplayed) {
                menuContainer.classList.remove("invisible");
            } else {
                menuContainer.classList.add("invisible");
            }
        }
    };

    // Run initialization on page load
    initializeMenuState();

    // Add click event listener to the button
    menuButton?.addEventListener("click", () => {
        const menuIsDisplayed = window.sessionStorage.getItem("menuIsDisplayed") === "true"; // Convert to boolean
        if (menuContainer) {
            if (menuIsDisplayed) {
                console.log("hiding menu");
                menuContainer.classList.add("invisible");
                window.sessionStorage.setItem("menuIsDisplayed", "false");
            } else {
                console.log("showing menu");
                menuContainer.classList.remove("invisible");
                window.sessionStorage.setItem("menuIsDisplayed", "true");
            }
        } else {
            alert("Menu could not be loaded");
        }
    });

    document.addEventListener('DOMContentLoaded', () => {
        const transitionClasses = ['transform', 'opacity-100', 'transition-all', 'duration-1500', 'linear']        
        if (menuButton) {
            setTimeout(() => {
                menuButton.classList.add(...transitionClasses)
            }, 500)
        } else {
            console.error(`Title not found. Got ${menuButton} instead`)
        }

        if (menuContainer) {
            setTimeout(() => {
                menuContainer.classList.add(...transitionClasses)
            }, 500);
        } else {
            console.error(`Subtitle not found. Got ${menuContainer} instead`)
        }
    })
</script>