---
import Menu from "../components/Menu.astro"
import '@fontsource/unifontex';

const buildMode = import.meta.env.MODE;
const build = buildMode.toLocaleLowerCase() == "development" ? "[DEV]" : "[PROD]"

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>🫏 - {build}</title>
	</head>
	<body>
		<div class="p-5 font-unifontex">
			<Menu/>
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin-top: 0;
		width: 100%;
		height: 100%;
		color: rgba(255, 255, 255, 0.608);
    	background-color: rgb(27, 27, 27);
	}
</style>
